{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="bg-gradient-to-b from-green-50 to-green-100">
    <section class="py-10 sm:py-16 lg:py-24">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
                <div>
                    <h1 class="text-4xl font-bold text-[#333333] sm:text-6xl lg:text-7xl">
                        Feeding the world with <br />
                        <div class="relative inline-flex">
                            <span class="absolute inset-x-0 bottom-0 border-b-[30px] border-green-700/[.5]"></span>
                            <h1 class="relative text-4xl font-bold text-[#333333] sm:text-6xl lg:text-7xl">Fresh Food</h1>
                        </div>
                    </h1>
                    <p class="mt-8 text-base text-[#333333] sm:text-xl">FreshPick is a family-run company that has been delivering fresh groceries to your doorstep for over 20 years. We are proud to offer a wide range of products that are sourced from local farmers and producers.</p>
                    
                </div>
                <div>
                    <img class="w-full rounded-lg shadow-xl" src="https://images.unsplash.com/photo-1581578017426-04fbc2b0511e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Fresh Food" />
                </div>
            </div>
        </div>
    </section>
</div>

<div class="bg-white">
    <section class="py-10 sm:py-16 lg:py-24">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="text-center">
                <h2 class="text-3xl font-bold text-[#333333] sm:text-4xl lg:text-5xl">Our Guiding Principles</h2>
                <p class="mt-4 text-base text-[#333333] sm:text-xl">At FreshPick, we are driven by a passion for fresh, local produce and a commitment to our community. Our mission is to deliver the finest quality groceries while supporting sustainable farming practices and local farmers. We believe in the importance of fresh food to nourish and bring people together, fostering a healthier, happier community.</p>
            </div>
        </div>
    </section>
</div>

<div class="bg-green-50">
    <section class="py-10 sm:py-16 lg:py-24">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
                <div>
                    <img class="w-full rounded-lg shadow-xl" src="https://plus.unsplash.com/premium_photo-1661546678463-7bdfeb8b221e?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Our Story" />
                </div>
                <div>
                    <h2 class="text-3xl font-bold text-[#333333] sm:text-4xl lg:text-5xl">The FreshPick Journey</h2>
                    <p class="mt-4 text-base text-[#333333] sm:text-xl">FreshPick started with a simple idea: to make fresh, local produce accessible to everyone. Over 20 years ago, our founders began partnering with local farmers to bring their harvest directly to consumers. Today, we continue this tradition, delivering fresh, seasonal produce straight to your doorstep, ensuring you enjoy the best our region has to offer.</p>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="bg-white">
    <section class="py-10 sm:py-16 lg:py-24">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
                <div>
                    <h2 class="text-3xl font-bold text-[#333333] sm:text-4xl lg:text-5xl">Commitment to Quality</h2>
                    <p class="mt-4 text-base text-[#333333] sm:text-xl">We are committed to providing our customers with fresh, high-quality products. Our team carefully selects and inspects each item to ensure it meets our standards. From farm to table, we maintain the highest standards of quality and freshness.</p>
                </div>
                <div>
                    <img class="w-full rounded-lg shadow-xl" src="https://plus.unsplash.com/premium_photo-1661761984447-9912bf056b29?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Quality Commitment" />
                </div>
            </div>
        </div>
    </section>
</div>

<div class="bg-green-50">
    <section class="py-10 sm:py-16 lg:py-24">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
                <div>
                    <img class="w-full rounded-lg shadow-xl" src="https://plus.unsplash.com/premium_photo-1661830196374-1d81d5afc95d?q=80&w=2026&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Supporting Local Farmers" />
                </div>
                <div>
                    <h2 class="text-3xl font-bold text-[#333333] sm:text-4xl lg:text-5xl">Supporting Local Farmers</h2>
                    <p class="mt-4 text-base text-[#333333] sm:text-xl">FreshPick is dedicated to supporting local farmers and producers. By choosing FreshPick, you're not only getting the freshest produce but also helping to sustain local agriculture and contribute to the community's economy.</p>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="bg-white">
    <section class="py-10 sm:py-16 lg:py-24">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
                <div>
                    <h2 class="text-3xl font-bold sm:text-4xl lg:text-5xl text-[#333333]">Sustainable Practices Matter</h2>
                    <p class="mt-4 text-base sm:text-xl text-[#333333]">We believe in sustainability and take pride in our environmentally friendly practices. From reducing food waste to using eco-friendly packaging, FreshPick is committed to protecting the environment and promoting a healthier planet.</p>
                </div>
                <div>
                    <img class="w-full rounded-lg shadow-xl" src="https://images.unsplash.com/photo-1591100063300-7b8956e7cb51?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Sustainable Practices" />
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
